#### 1. Define and create a Dataframe using Pandas.

In [1]:
import pandas as pd


data = {'Name':['Emp1', 'Emp2', 'Emp3', 'Emp4'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)

   Name  Age
0  Emp1   28
1  Emp2   34
2  Emp3   29
3  Emp4   42

#### 2. How can we calculate the standard deviation from the series.

In [2]:
series1 = {'Name':['Stud1','stud2','stud3','stud4','stud5'],'marks1':[90,87,60,86,77],
           'marks2':[95,88,64,86,77],'marks3':[99,77,60,86,77]}
df = pd.DataFrame(series1)
sd = df.std()
print("The standard deviation of the 3 marks column are: ")
print(sd)

The standard deviation of the 3 marks column are:
marks1    12.186058
marks2    11.937336
marks3    14.272351
dtype: float64

#### 3. Create a Dataframe using List given below:
 lis=[‘Python’,’Numpy’,’Pandas’]

In [3]:
lis=['Python','Numpy','Pandas']
df = pd.DataFrame(lis)
print(df)

        0
0  Python
1   Numpy
2  Pandas

#### 4. Create a Series from dictionary given below:
info = {'x' : 0., 'y' : 1., 'z' : 2.}

In [4]:
info = {'x' : 0., 'y' : 1., 'z' : 2.}
series2 = pd.Series(info)
print(series2)

x    0.0
y    1.0
z    2.0
dtype: float64

#### 5. How will you create an empty Dataframe in Pandas?

In [5]:
df1 = pd.DataFrame() 
print(df1)

Empty DataFrame
Columns: []
Index: []

#### 6. i) Add a column to that pandas Dataframe that you created in Q1
#### ii) Change index of that Dataframe.

In [7]:
#i) Add a column to that pandas Dataframe that you created in Q1
print("Dataframe Created in Question-5",df1)
Age = ['20','30','43','50']
df1['Age'] = Age
print("Dataframe after Adding Column\n",df1)

#ii) Change index of that Dataframe.
newindex = ['age1','age2','age3','age4']
print("Dataframe after Changing Index\n",df1.set_index(pd.Index(['age1','age2','age3','age4'])))

Dataframe Created in Question-5 Empty DataFrame
Columns: []
Index: []
Dataframe after Adding Column
   Age
0  20
1  30
2  43
3  50
Dataframe after Changing Index
      Age
age1  20
age2  30
age3  43
age4  50

#### 7. Get the following from this dataframe:

 import random
 A = [ random.randint(0,100) for i in range(10) ]
 B = [ random.randint(0,100) for i in range(10) ]
 
 df = pd.DataFrame({ 'field_A': A, 'field_B': B })
 
 i) mean
 
 ii) median
 
 iii) mode
 
 iv) 75th percentile
 
 v) 90th percentile
 
 vi) 99th percentile

In [8]:
import random
A = [ random.randint(0,100) for i in range(10) ]
B = [ random.randint(0,100) for i in range(10) ]
df = pd.DataFrame({ 'field_A': A, 'field_B': B })
print("Mean is",df.mean())
print("Median is",df.median())
print("Mode is",df.mode())
print("75th Percentile",df.quantile(0.75))
print("90th Percentile",df.quantile(0.9))
print("99th Percentile",df.quantile(0.99))

Mean is field_A    52.7
field_B    28.6
dtype: float64
Median is field_A    53.0
field_B    24.5
dtype: float64
Mode is    field_A  field_B
0       53       57
75th Percentile field_A    74.25
field_B    49.75
Name: 0.75, dtype: float64
90th Percentile field_A    89.2
field_B    58.2
Name: 0.9, dtype: float64
99th Percentile field_A    98.92
field_B    67.92
Name: 0.99, dtype: float64

#### 8. How do you count how many unique rows a DataFrame has (i.e. ignore all rows that are duplicates)?

In [9]:
data={'Emp_Name': ['Emp1','Emp2','Emp3','Emp1','Emp3','Emp3','Emp4'],
          'Emp_age': [40,37,22,40,22,22,27]}
df=pd.DataFrame(data)
print(pd.DataFrame(df,columns=['Emp_Name','Emp_age']))
print("No of Unique Rows are : ",len(df.drop_duplicates()))

  Emp_Name  Emp_age
0     Emp1       40
1     Emp2       37
2     Emp3       22
3     Emp1       40
4     Emp3       22
5     Emp3       22
6     Emp4       27
No of Unique Rows are :  4

#### 9. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’? Take the following as input.
#### np.random.RandomState(100)
#### ser = pd.Series(np.random.randint(1, 5, [12]))

In [10]:
import numpy as np
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print("Original Series is : \n ", ser)
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
print("After not replacing top 2 most frequent values and  everything else as Other : \n ",ser)

Original Series is :
  0     2
1     2
2     3
3     2
4     3
5     3
6     2
7     2
8     4
9     1
10    2
11    3
dtype: int64
After not replacing top 2 most frequent values and  everything else as Other :
  0         2
1         2
2         3
3         2
4         3
5         3
6         2
7         2
8     Other
9     Other
10        2
11        3
dtype: object

#### 10. A DataFrame has a column of groups 'grps' and and column of integer values 'vals':

 df = pd.DataFrame({'grps':list('aaabbcaabcccbbc'),
 'vals': [12, 345, 3, 1, 45, 14 , 4, 52, 54, 23, 235, 21, 57, 3, 87]})

For each group, find the sum of the three greatest values. You should end up with the answer as follows: grps
a 409
b 156
c 345

*Create a dataframe for the following to answer the next few questions

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat','snake', 'cat', 'dog', 'dog'],'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no','no']}labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [11]:
df = pd.DataFrame({'grps':list('aaabbcaabcccbbc'),'vals': [12, 345, 3, 1, 45, 14 , 4, 52, 54, 23, 235,21, 57, 3, 87]})
print("For each group, find the sum of the three greatest values",df.groupby('grps').vals.nlargest(3).sum(level=0))


#Create a dataframe for the following to answer the next few questions
#data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat',
#'snake', 'cat', 'dog', 'dog'],
#'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
#'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
#'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no',
#'no']}
#labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat',
'snake', 'cat', 'dog', 'dog'],
'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no',
'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
animals_data=pd.DataFrame(data,index=labels)
animals_data

For each group, find the sum of the three greatest values grps
a    409
b    156
c    345
Name: vals, dtype: int64

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

#### 11. Display a summary of the basic information about this DataFrame and its data (hint: there is a single method that can be called on the DataFrame).

In [12]:
print('Summary of Basic Description : \n',animals_data.info()) 
print('Statistical information:\n',animals_data.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
animal      10 non-null object
age         8 non-null float64
visits      10 non-null int64
priority    10 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
Summary of Basic Description :
 None
Statistical information:
             age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

#### 12. Select the rows where the age is between 2 and 4 (inclusive).

In [13]:
print("Rows between age 2 and 4\n",animals_data.sort_values(by='age')[2:4])

Rows between age 2 and 4
   animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes

#### 13. Select the data in rows [3, 4, 8] and in columns ['animal', 'age'].

In [14]:
print("Data in rows 3,4,8 and in columns animal,age\n",animals_data.iloc[[2,4,7]][['animal','age']])

Data in rows 3,4,8 and in columns animal,age
   animal  age
c  snake  0.5
e    dog  5.0
h    cat  NaN

#### 14. Select the rows where the age is missing, i.e. it is NaN.

In [15]:
print("Rows where age is missing i.e NAN\n",animals_data[animals_data['age'].isnull()])

Rows where age is missing i.e NAN
   animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

#### 15. Select the rows where the animal is a cat and the age is less than 3.

In [16]:
print("Animal is Cat and age is less than 3\n",animals_data[(animals_data.animal=='cat') & (animals_data.age<3)])

Animal is Cat and age is less than 3
   animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

#### 16. Change the age in row 'f' to 1.5.

In [17]:
animals_data.loc['f','age']=1.5 
print("Changing age in row f to 1.5\n",animals_data)

Changing age in row f to 1.5
   animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

#### 17. In the 'animal' column, change the 'snake' entries to 'python'.

In [18]:
animals_data['animal'].replace({"snake":"python"})
print("After changing snake entries to python\n",animals_data)

After changing snake entries to python
   animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

#### 18. Count the number of each type of animal in df.

In [19]:
print("Count number of each type of animal\n",animals_data['animal'].value_counts(ascending=True))

Count number of each type of animal
 snake    2
cat      4
dog      4
Name: animal, dtype: int64

#### 19. The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be True and 'no' should be False.

In [20]:
animals_data['priority'].replace({"yes":True,"no":False},inplace=True)
print("After changing priority column Yes to True and No to False\n",animals_data)

After changing priority column Yes to True and No to False
   animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  1.5       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

#### 20. For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages (hint: use a pivot table).

In [21]:
mean_age = pd.pivot_table(animals_data, values=['age'],index=['animal'],columns=['visits'],aggfunc=np.mean)
print("Mean ages : \n",mean_age)

Mean ages :
         age
visits    1    2     3
animal
cat     2.5  NaN  2.25
dog     3.0  6.0   NaN
snake   4.5  0.5   NaN