#### 1. Write a Python program to add an item in a tuple.

In [8]:
tuple1 = 1,2,3,'sonali',3.4,'datafolkz'
print(tuple1)
print(type(tuple1))

list1 = list(tuple1)    #Converting tuple to list
print(list1)
print(type(list1))     
list1.append("AI")      #add/appending item 'AI' to the list
print(list1)

tuple1 = tuple(list1)   #Coverting the final list to tuple again
print(tuple1)

(1, 2, 3, 'sonali', 3.4, 'datafolkz')
<class 'tuple'>
[1, 2, 3, 'sonali', 3.4, 'datafolkz']
<class 'list'>
[1, 2, 3, 'sonali', 3.4, 'datafolkz', 'AI']
(1, 2, 3, 'sonali', 3.4, 'datafolkz', 'AI')

#### 2. Write a Python program to reverse a tuple.

In [23]:
tuple2 = 1,2,3,4,5,6,'a','b','c'
#Method1
x = reversed(tuple2)        
print(tuple(x))

#Method 2
tuple3 = 1,2,3,4,5,6,'a','b','c','d'
tuple3 = tuple3[::-1]
print(tuple3)

('c', 'b', 'a', 6, 5, 4, 3, 2, 1)
('d', 'c', 'b', 'a', 6, 5, 4, 3, 2, 1)

#### 3. Swap the following two tuples
#### tuple1 = (11, 22)
#### tuple2 = (99, 88)

In [29]:
tuple1 = (11, 22)
tuple2 = (99, 88)

tuple1, tuple2 = tuple2, tuple1
print('tuple1 is : ' + str(tuple1))
print('tuple2 is : ' + str(tuple2))

tuple1 is : (99, 88)
tuple2 is : (11, 22)

#### 4. Modify the first item (22) of a list inside a following tuple to 222
#### tuple1 = (11, [22, 33], 44, 55)

In [31]:
tuple1 = (11, [22, 33], 44, 55)

tuple1[1][0] = 222
print(tuple1)

(11, [222, 33], 44, 55)

#### 5. Write a Python program to unpack a tuple in several variables

In [33]:
tuple4 = 1,2,3,4,7.8,9.7,'datafolkz'
print(tuple4[0])
print(tuple4[1])
print(tuple4[3])
print(tuple4[4])
print(tuple4[5])
print(tuple4[6])

1
2
4
7.8
9.7
datafolkz

#### 6. Write a Python program to add member(s) in an empty set.

In [45]:
fruits = set()
print(fruits)
fruits.add('apple')
print(fruits)
fruits.update(['orange','grapes','bananana'])
print(fruits)

set()
{'apple'}
{'orange', 'grapes', 'bananana', 'apple'}

#### 7. Write a Python program to create an intersection of sets

In [50]:
A = {1,1,1,2,2,5,10,5,80,80,55,55,60,True, False,0}
B = {'Innomatics','Technology',1,2,3,3}
print(A)
print(B)
A.intersection(B)

{False, 1, 2, 5, 10, 80, 55, 60}
{1, 'Innomatics', 3, 2, 'Technology'}

{1, 2}

#### 8. Write a Python program to create a symmetric difference in sets.

In [51]:
A = {1,1,1,2,2,5,10,5,80,80,55,55,60,True, False,0}
B = {'Innomatics','Technology',1,2,3,3}

A.symmetric_difference(B)

{10, 3, 5, 55, 60, 80, False, 'Innomatics', 'Technology'}

#### 9. Return a set of identical items from a given two Python set
#### set1 = [10, 20, 30, 40, 50]
#### set2 = [30, 40, 50, 60, 70]

In [64]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection(set2)

{30, 40, 50}

#### 10. Remove 10, 20, 30 elements from a following set at once
#### set1 = {10, 20, 30, 40, 50}

In [67]:
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10,20,30})
print(set1)

{40, 50}

#### 11. Access value 20 from the following tuple example = ("Pooja", [10, 20, 30], (25, 50, 15))

In [68]:
tuple5 = ("Pooja", [10, 20, 30], (25, 50, 15))
tuple5[1][1]

20

#### 12. Count the number of occurrences of item 50 from a tuple
#### numbers = (50, 10, 60, 70, 50)

In [69]:
numbers = (50, 10, 60, 70, 50)
numbers.count(50)

2