#### 1. City = [‘Gurgaon’, ’Mumbai’, ’Bangalore’]
#### i) Print the second item from the list.
#### ii) Change the value from "Gurgaon" to "Kerala"
#### iii) Remove the last element of the list.

In [1]:
City = ['Gurgaon' , 'Mumbai' , 'Bangalore']

#i) Print the second item from the list.

a = City[1]
print(a)


#ii) Change the value from "Gurgaon" to "Kerala"

City[0] = "Kerala" 
print(City)



#iii) Remove the last element of the list.¶
City.pop()
print(City)

Mumbai
['Kerala', 'Mumbai', 'Bangalore']
['Kerala', 'Mumbai']

#### 2. Use negative indexing to print the last item in the list. Make a list by yourself.

In [2]:
list1 = [1,3,5,6,7,9,8,3,2]
list1[-1]

2

#### 3. Use a range of indexes to print the third, fourth, and fifth item in the list. Make a list by yourself.

In [3]:
list1 = [1,3,5,6,7,9,8,3,2]
print(list1[2:5])

[5, 6, 7]

#### 4. Remove the last element from the city list

In [4]:
City = ['Gurgaon' , 'Mumbai' , 'Bangalore']
City.pop()
print(City)

['Gurgaon', 'Mumbai']

#### 5. fruits=[‘apple’,’lichi’,’guava’,’cherry’,’mango’,’watermelon’,’banana’]
#### i) Add "orange" at the end of the above list.
#### ii) Add "lemon" as the second item in the fruits list

In [5]:
fruits=['apple','lichi','guava','cherry','mango','watermelon','banana']

# i) Add "orange" at the end of the above list.
fruits.append("orange")
print(fruits)

# ii) Add "lemon" as the second item in the fruits list
fruits.insert(1,"lemon")
print(fruits)

['apple', 'lichi', 'guava', 'cherry', 'mango', 'watermelon', 'banana', 'orange']
['apple', 'lemon', 'lichi', 'guava', 'cherry', 'mango', 'watermelon', 'banana', 'orange']

#### 6. Remove ‘cherry’ from the fruit list given above.

In [6]:
fruits.remove("cherry")
print(fruits)

['apple', 'lemon', 'lichi', 'guava', 'mango', 'watermelon', 'banana', 'orange']

#### 7. Write the python program to let the user input a list of numbers and print the list in descending order.

In [1]:
number = input("Enter a list of numbers using comma : ")
number = number.split(",")
print(number)
print(type(number))
# To convert all the list of Strings to Integer
number1 = list(map(int, number))         
print(number1)
print(type(number1))
decending = sorted(number1,reverse = True)   
print("The decending order is : " + str(decending))

Enter a list of numbers using comma : 0,7,56,4,3,1
['0', '7', '56', '4', '3', '1']
<class 'list'>
[0, 7, 56, 4, 3, 1]
<class 'list'>
The decending order is : [56, 7, 4, 3, 1, 0]

#### 8. Write the python program to let the user input two lists and combine both the lists.

In [30]:
List2 = input("Enter a 1st list of numbers using comma : ")
List3 = input("Enter a 2nd list of numbers using comma : ")
List2 = List2.split(",")
List3 = List3.split(",")
Final_List = List2 + List3
print(str(Final_List))

print("=" * 50)
print("#Method2")
print("=" * 50)
# Method2 using extend() to concat 
List2.extend(List3)
print(List2)

Enter a 1st list of numbers using comma : 1,2,3,4,5
Enter a 2nd list of numbers using comma : 6,7,8,9,10
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
==================================================
#Method2
==================================================
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

#### 9. List = [10, 45, 78, 11, 9, 23]. Shuffle this list.

In [34]:
import random     #Importing the random module
List4 = [10, 45, 78, 11, 9, 23]
random.shuffle(List4)    #1st Shuffle
print(List4)

random.shuffle(List4)    #2nd Shuffle
print(List4)

[23, 10, 9, 45, 11, 78]
[78, 45, 10, 11, 9, 23]

#### 10. x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']
#### i) What is the expression that returns the 'z' in 'baz'?
#### ii) What expression returns the list ['baz', 2.718]?

In [48]:
x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']

# i)expression that returns the 'z' in 'baz'?
x[1][2][1][2]

# ii)expression returns the list ['baz', 2.718]?
x[1][2][1:3]

['baz', 2.718]

#### 11. Extract element 20 from the above list.

In [49]:
x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']

x[1][1]

20

## 12. You have a list a = [1, 2, 7, 8]
#### Write a Python statement using slice assignment that will fill in the missing values so that a 
#### equals [1, 2, 3, 4, 5, 6, 7, 8]

In [73]:
a = [1, 2, 7, 8]
a1 = a[0:2]        #slicing first 2
print(a1)
a2 = a[2:4]        #Slicing last 2
print(a2)

a3 = [3,4,5,6]     #declaring the missing values

a = a1 + a3 + a2   #Concatinating the values to get the final lis
print(a)

[1, 2]
[7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]